<!DOCTYPE html>
<html>
<head>
  <title>Slated Search</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.min.js"></script>
</head>
<body ng-app="SlatedSearchbox">
  <div ng-controller="SearchCtrl as search">
    <form>
      <input type="text"
             list="results"
             ng-model="search.term"

             ng-change="search.updateResults(search.term)"
      />
      <ul ng-show="search.resultsFetched">
        <li ng-repeat="result in search.results"><span ng-bind-html="result.image | sanitize"></span>{{result.value}}</li>
      </ul>
    </form>

  </div>
  <script src="./app.js"></script>
</body>
</html>
